{{#each errors}}
    <div class="alert alert-danger">{{error}}</div>
{{else}}
{{/each}}
<div class="card">
    <h3>New Category</h3>
    <div class="card-body">
        <form action="/admin/category/new" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Category" class="form-control">
            <label for="slug">Slug:</label>
            <input type="text" name="slug" id="slug" placeholder="Slug" class="form-control">
            <br>
            <button type="submit" class="btn btn-primary">Create Category</button>
        </form>
    </div>
</div>