<div class="card">
    <div class="card-body">
        <h1>{{post.title}}</h1>
        <hr>
        <small>Date: {{#formatDate post.createdAt}}{{/formatDate}}</small><br>
        <hr>
        <small>{{post.content}}</small>
    </div>
</div>