<h2>Categories</h2>

{{#each categories}}
    <a href="/categories/{{slug}}"><h5>{{name}}</h5></a>
{{else}}
    <h5>Nenhuma categoria registrada!</h5>
{{/each}}

<a href="/admin/categories"><button class="btn btn-secondary">Add</button></a>